


.main-dog-page {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   padding: 20px;
}


article {
   margin: 20px;
   padding: 15px;
   border: 1px solid #ddd;
   border-radius: 8px;
   text-align: center;
   transition: transform 0.3s ease-in-out;

}

article:hover {
   transform: scale(1.05);
 
}

article img {
   width: 200px;
   height: auto;
   border-radius: 4px;
}


article h3 {
   margin-top: 10px;
   font-size: 1.5em;
}

article p {
   color: #666;
   font-size: 1em;
}