* {
   box-sizing: border-box;
}

.main-dog-page-grid {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   padding: 10px;
   gap: 15px;
   margin: 50px;
}

.content-container {
   position: relative;
   z-index: 1;
}

.link {
   text-decoration: none;

}

h3 {
   text-align: center;
}

.nav-link {
   text-decoration: none;
   color: white;
   margin: 30px;
   font-size: 25px;
   font-family: "Varela Round", sans-serif;
}

a {
   text-decoration: none;
}

nav {
   position: absolute;
   top: 24px;
   left: 440px;
   z-index: 2;   
}

.dog-name {
   font-size: 15px;
   text-decoration: none;
   color: #666;

}

input {
   width: 500px;
   height: 50px;
   padding: 8px;
}

button {
   background-color: black;
   color: white;
   padding: 10px 20px;
   border: none;
   cursor: pointer;
}

.search-btn {
   height: 50px;
   background-color: #1d5191;
}


.favourite-btn {
   width: 100%;
}

.main-header {
   display: flex;
   color: white;
   font-size: 50px;
   margin: 0px 0px 0px 10px;
   position: absolute;
   top: 4px;
   left: 4px;
   z-index: 2;
   font-family: "Varela Round", sans-serif;
     
}

.search-bar {

   display: flex;
   justify-content: center;
   position: absolute;
   top: 300px;
   left: 320px;
   z-index: 2;
}

.paw-image {
   width: 40px;
   height: 40px;
   position: absolute;
   top: 14px;
   left: 253px;
   z-index: 2;
}

.header-container {
   display: flex;
   align-items: center;
}



.main-dog-page {
   padding: 15px;
   width: 100%;
   aspect-ratio: 1;
   transition: transform 0.3s ease-in-out;
   overflow: hidden;
   box-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
   border-radius: 10px 10px 0px 0px;
}

footer {
   padding: 20px;

}

.main-container {
   margin: 50px;
   background-color: #efefef;
}

body {
   background-color: white;
   margin: 0;
}

.main-dog-page,
img {
   height: 88%;
   object-fit: cover;
   width: 100%;
   display: block;
   /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}


article h3 {
   margin-top: 10px;
   font-size: 1.5em;
}

article p {
   color: #666;
   font-size: 1em;
}