.single-dog-img {
  width: 700px;
  margin-top: 50px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
}

.single-dog {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

article {
  margin: 0;
}

.single-dog-img {
  border-radius: 5px;
}

.footer {
  font-family: 'Courier New', Courier, monospace;
  margin-left: 10px;
  font-size: 12px;
  bottom: 0;
}