* {
  box-sizing: border-box;
}

.single-dog-img {
  width: 700px;
  margin-top: 80px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
}

.main-header-single {
  /* display: flex; */
  color: black;
  font-size: 50px;
  margin: 0px 0px 0px 10px;
  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 2;
  font-family: "Varela Round", sans-serif;

}

.single-dog {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

article {
  margin: 0;
}

.single-dog-img {
  border-radius: 5px;
}

.nav-link-single {
  text-decoration: none;
  color: black;
  margin: 30px;
  font-size: 25px;
  font-family: "Varela Round", sans-serif;
}

body {
  background-color: #efefef;
}

.footer {
  font-family: 'Courier New', Courier, monospace;
  margin-left: 10px;
  font-size: 12px;
  bottom: 0;
}